body {
    margin: 0px;
    min-width: 1200px;
}
/* En-tête*/
    header {
max-width: 100%;
width: 1680px;

height: 80px;
opacity: 1;
background: #152237;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}
header img {
width: 84px;
height: 31px;

}
header p {
        font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    align-items: center;zzz
}

.button {
     display: flex;
    flex-direction: row;
    gap: 15px;
}
.b01 {
width: 130px;
height: 40px;
top: 20px;
left: 1300px;
opacity: 1;
border-radius: 6px;
background: #FFFFFF; 
font-size: 15px;
}
.b02 {
width: 130px;
height: 40px;
top: 20px;
left: 1449px;
opacity: 1;
border-radius: 6px;
font-size: 15px;
background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%)
}

header input {
width: 90px;
height: 18px;
top: 31px;
left: 620px;
opacity: 1;
width: 477px;
height: 40px;
opacity: 1;
border-width: 1px;
border-radius: 6px;
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E")
  no-repeat right 10px center;
    background-size: 18px;
    border: 1px solid #FFFFFF
}
header input::placeholder {
width: 90px;
height: 18px;
top: 31px;
left: 620px;
opacity: 1;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: -1.5%;
text-align: center;
vertical-align: middle;
color: #FFFFFF;

}

.container_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 450px;

    background: linear-gradient(94deg, rgba(68,221,138,0.8) 3%, rgba(21,183,226,0.8) 98%),
    url(bg-header.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.container_hero h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 48px;
    color: #152237;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container_hero h3 {
    margin-top: 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.container_hero button {

padding: 12px 24px;

background: #FFFFFF;
color: #152237;
border-radius: 6px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
letter-spacing: -0.015em;

display: flex;
align-items: center;
text-align: center;
}
/* Section 1 */
.marché {
 
    padding: 30px 0 60px;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.marché .container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 97px;

}

.marché h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #152237;

    white-space: nowrap;
    margin-bottom: 30px;
}
.card {
    display: flex;
    gap: 92px;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: nowrap;
}

.card_marché {
    width: 307px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card_marché img {
    width: 305px;
    height: 206px;
    object-fit: cover;
    background: #44DD8A;
}

.card_prix {
    position: absolute;
    top: 190px;
    right: 15px;
    background: #152237;
    border-radius: 93px;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 5px 4px 13.2px -1px rgba(0, 0, 0, 0.25);
}

.prix {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.priz {
    font-size: 10px;
    text-decoration: line-through;
    color: #fff;
}

.card_marché h3 {
    margin: 30px 16px 6px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #152237;
}

.auteur {
    margin: 0 16px 10px;
    font-size: 16px;
    line-height: 25px;
    color: #152237;
}

.stars {
    margin: 0 16px 10px;
}

.stars i {
    color: #FFC700;
    font-size: 16px;
}

.description {
    margin: 0 16px 20px;
    font-size: 16px;
    line-height: 18px;
    color: #152237;
}

.btn_marché {
    width: 225px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    background: #152237;
    border: none;
    border-radius: 6px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    white-space: nowrap;

    cursor: pointer;
}